@use "./variables" as *;
//
html {
  font-family: $primaryFont;
  font-size: $rootFontSize;
  scroll-behavior: smooth;
}
// Removing Margin and Padding
h1,
h2,
h3,
h4,
h5,
h6,
p,
nav,
ul,
li,
section,
div {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

main {
  position: relative;
}

.hidden {
  display: none;
}
