@use "./variables" as *;

// 1100px
@media (max-width: calc($displaySmallLaptop + 200px)) {
  .links .imgContainer div {
    height: 50%;
    width: 50%;
  }
}
// 950px
@media (max-width: calc($displaySmallLaptop + 50px)) {
  // NAVIGATION
  nav {
    ul {
      &.wrapper {
        width: 100%;
        margin: 0;
        font-size: 2rem;
      }
      li a {
        letter-spacing: 2px;
      }
    }
  }
}

// 900px
@media (max-width: $displaySmallLaptop) {
  // HEADER
  header {
    .wrapper {
      height: 40%;
    }

    h1 {
      span {
        display: block;
        padding: 20px 0 30px;
      }
    }
  }
  // RSVP
  .rsvp {
    form {
      li {
        flex-direction: column;
        align-items: stretch;
      }
    }
  }
}
// 768px
@media (max-width: $tablet) {
  //  NAVIGATION
  nav {
    .largeNav {
      display: none;
    }
    .mobileNavContainer {
      display: flex;
    }
    #hamburgerOpen {
      display: block;
    }

    &.active {
      a.active,
      a:focus,
      a:hover {
        border-bottom: 2px solid transparent;
        color: inherit;
        cursor: pointer;
      }

      a,
      ul i {
        color: $cream;
      }

      i {
        color: $primaryColorDark;
      }
    }
  }
  // ABOUT US
  .aboutUs {
    .contentContainer {
      flex-direction: column;
    }

    .imgContainer,
    .textContainer {
      height: 500px;
      margin: 10px auto;
      width: 80%;
    }

    .textContainer p {
      margin-top: 0;
      font-size: 2rem;
    }
  }
  // LOCATION
  .location {
    .textContainer .venueDetailContainer p span {
      letter-spacing: 2px;
    }
  }
}
// 700px
@media (max-width: calc($mobileLarge + 100px)) {
  // LOCATION
  .location {
    .contentContainer {
      flex-direction: column;
    }

    .imgContainer,
    .textContainer {
      width: 100%;
    }

    .imgContainer {
      .verticalPhotoContainer {
        display: none;
      }
      .slider {
        display: block;
      }
    }
  }
}
// 600px
@media (max-width: $mobileLarge) {
  .wrapper {
    width: 100%;

    h2 {
      font-size: calc(3rem + 2vw) !important;
    }
  }

  // DETAILS
  .details {
    .timelineContainer {
      display: none;
    }

    .timelineContainerMobile {
      display: flex;
    }
  }
  // RSVP
  .rsvp {
    form {
      text-align: center;
    }
  }
  // ACCOMODATIONS
  .links {
    .imgContainer,
    .textContainer {
      width: 100%;
    }

    .imgContainer {
      min-height: 350px;
    }
    .accomodationContainer {
      flex-direction: column !important;
    }
  }
}
// 500px
@media (max-width: $mobile) {
}
// 425px
@media (max-width: $mobileSmall) {
  .aboutUs,
  .location,
  .details,
  .rsvp,
  .links {
    .wrapper {
      h2 {
        font-size: 3rem !important;
      }
    }
  }
}
// 375px
@media (max-width: calc($mobileSmall - 50px)) {
  .links {
    .wrapper {
      h2 {
        font-size: 2.5rem !important;
      }
    }
  }
}
